@model IEnumerable<TrainApplication.Database.Route>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(1){text-align: right;}
    td:nth-child(2){text-align: right;}
    td:nth-child(3){text-align: right;}
</style>
<h2></h2>
<h4>Route</h4>
<p>
    @Html.ActionLink("Create New", "RouteCreate", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distination.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Train.GovId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "RouteEdit", new { id=item.Id}, new { @class = "btn btn-danger" })
        </td>
        <td style="text-align: left;">
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td style="text-align: left;">
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td style="text-align: left;">
            @Html.DisplayFor(modelItem => item.Distination.Departure)
        </td>
        <td style="text-align: left;">
            @Html.DisplayFor(modelItem => item.Train.GovId)
        </td>

    </tr>
}

</table>
